@import "lib/stylolisk";

.container{
    @extend %container;
}
.main-text{
    @extend %padded;
}
.main-nav{
    line-height: 1em;
    padding-bottom: 1.5em;
}
.main-nav > ul{
    text-align: justify;
    columns: 140px 3;
    -moz-columns: 140px 3;
    column-gap: 0;
    -moz-column-gap: 0;
}
.main-nav > ul > li {
    display: block;
    text-align: center;
    background-color: #d0d0d0;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid; // Chrome, Safari, Opera
    page-break-inside: avoid; // Firefox
}
.main-nav > ul > li > a{
    height: 1px; // IE BUG: some height needs to be set for IE 11
    min-height: 90px; // min-height not working in IE
    width: 100%;
    text-align: center;
    border: solid 1px #5c5c5c;
    box-shadow: 0 0 16px rgba(0,0,0,0.4) inset;

    display: block;
    display: -ms-flexbox;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /*Center horizontaly */
    -ms-flex-pack: center; /*Center horizontaly ie */

    > span{
        height: auto;
        width: auto;
        padding: 0 $defaultPadding;
    }
}