.container:before, .container:after {
  content: "";
  display: table; }
.container:after {
  clear: both; }

.main-text {
  padding-left: 15px;
  padding-right: 15px; }

.container {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 738px; } }
  @media (min-width: 992px) {
    .container {
      width: 962px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.main-nav {
  line-height: 1em;
  padding-bottom: 1.5em; }

.main-nav > ul {
  text-align: justify; }

.main-nav > ul > li {
  display: block;
  text-align: center;
  background-color: #d0d0d0;
  break-inside: avoid-column; }

.main-nav > ul > li > a {
  min-height: 4em;
  width: 100%;
  margin: auto;
  display: block;
  display: flex;
  text-align: center;
  border: solid 1px #5c5c5c;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4) inset; }
  .main-nav > ul > li > a > span {
    height: auto;
    width: auto;
    margin: auto;
    padding: 0 15px; }
