@import "lib/stylolisk";

.container{
    @extend %container;
}
.main-text{
    @extend %padded;
}
.main-nav{
    line-height: 1em;
    padding-bottom: 1.5em;
}
.main-nav > ul{
    text-align: justify;
    // columns: 140px 3;
    // column-gap: 0;
}
.main-nav > ul > li {
    display: block;
    text-align: center;
    background-color: #d0d0d0;
    break-inside: avoid-column;
}
.main-nav > ul > li > a{
    min-height: 4em;
    width: 100%;
    margin: auto;
    display: block;
    display: flex;
    text-align: center;
    border: solid 1px #5c5c5c;
    box-shadow: 0 0 16px rgba(0,0,0,0.4) inset;
    > span{
        height: auto;
        width: auto;
        margin: auto;
        padding: 0 $defaultPadding;
    }
}