.container:before, .container:after {
  content: "";
  display: table; }
.container:after {
  clear: both; }

.main-text {
  padding-left: 15px;
  padding-right: 15px; }

.container {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container {
      width: 738px; } }
  @media (min-width: 992px) {
    .container {
      width: 962px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.main-nav {
  line-height: 1em;
  padding-bottom: 1.5em; }

.main-nav > ul {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-width: 140px;
  /* Chrome, Safari, Opera */
  -moz-column-width: 140px;
  /* Firefox */
  column-width: 140px;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0; }

.main-nav > ul > li {
  display: block;
  text-align: center;
  background-color: #d0d0d0;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid; }

.main-nav > ul > li > a {
  width: 100%;
  border: solid 1px #5c5c5c;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4) inset;
  display: block;
  min-height: 90px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /*Center horizontaly */
  -ms-flex-pack: center;
  /*Center horizontaly ie */ }
  .main-nav > ul > li > a > span {
    height: auto;
    width: auto;
    padding: 0 15px; }
